.msg-format {
  display: flex;
  flex-direction: column;
  /* text-transform: capitalize; */
}
.msgYimg {
  display: flex;
  align-items: center;
}
.msgYimg img {
  width: 35px;
  height: auto;
  align-items: center;
  border-radius: 100rem;
}
.my-message {
  display: flex;
  align-items: flex-end;
  width: 100%;
}
.my-message .text {
  background-color: #3c5d6f;
}
.time {
  font-size: 0.7em;
  font-weight: 200;
}
.text {
  font-size: 1.2rem;
  background-color: #387883;
  padding: 0.3em 0.8em;
  border-radius: 1em;
}
p {
  margin: 0;
}
