.form-main {
  display: grid;
  grid-template-columns: 6fr 1fr;
}
.form-main input {
  background-color: #1c233a;
  border: none;
  font-family: "Montserrat";
  font-size: 1rem;
  letter-spacing: 1px;
  outline: none;
  padding: 0 2em;
}
.form-main button {
  background-color: #1c233a;
  transition: background 0.3s;
  border: 1px solid #cecece50;
  border-radius: 0;
}
 .form-main button:hover{
  border-color: #fff;
 }